## SQLite-tehtävät

#### Tehtävä 1. Lisää tarvittavat kirjastot ja tee `testi.db` niminen tietokanta (SQLite3)

In [11]:
import sqlite3

db_connection = sqlite3.connect("testi.db")

#### Tehtävä 2. Luo yhteys tietokantaan

In [12]:
c = db_connection.cursor()

#### Tehtävä 3. Tee tietokantaan seuraavanlainen taulu, jonka nimi on `henkilotaulu`:
    
| Nimi        | Ika           | Kengankoko  |
| ------------- |-------------| -----|
| Teppo      | 88 | 47 |
| Matti      | 34     | 39 |
| Ilona | 41      |    36 |
| Sonja | 32      |    37 |

In [14]:
c.execute('''CREATE TABLE henkilotaulu
               (Nimi, Ika, Kengankoko)''')
data_rows = [("Teppo", 88, 47), ("Matti", 34, 39), ("Ilona", 41, 36), ("Sonja", 32, 37)]
for data_row in data_rows:
    c.execute('''INSERT INTO henkilotaulu VALUES {0}'''.format(data_row))
db_connection.commit()

In [16]:
data = c.execute('''SELECT * FROM henkilotaulu''')
retrieved_data = data.fetchall()
retrieved_data

[('Teppo', 88, 47), ('Matti', 34, 39), ('Ilona', 41, 36), ('Sonja', 32, 37)]

#### Tehtävä 4. Kun Taulu on tehty, niin hae taulu Pandasin DataFrame-objektiin ja lisää siihen sarake `Hatunkoko`, jonka jälkeen täytä se valitsemillasi arvoilla

In [20]:
import pandas as pd
sql_q = '''SELECT * FROM henkilotaulu'''
df_from_sqlite = pd.read_sql(sql_q, db_connection)
hat_sizes = [59, 60, 57, 58]
df_from_sqlite["Hatunkoko"] = hat_sizes
df_from_sqlite

    Nimi  Ika  Kengankoko  Hatunkoko
0  Teppo   88          47         59
1  Matti   34          39         60
2  Ilona   41          36         57
3  Sonja   32          37         58

#### Tehtävä 5. Tee taulusta kopio, jonka nimi on `henkilotaulukopio` ja lisää siihen rivi valitsemillasi arvoilla

In [28]:
df_from_sqlite.to_sql(name = "henkilotaulukopio", con = db_connection, if_exists = "fail", index = False)
new_person = ("Maisa", 45, 40, 59)
c.execute('''INSERT INTO henkilotaulukopio VALUES {0}'''.format(new_person))
db_connection.commit()

In [29]:
new_data = c.execute('''SELECT * FROM henkilotaulukopio''')
ret_data = new_data.fetchall()
ret_data

[('Teppo', 88, 47, 59),
 ('Matti', 34, 39, 60),
 ('Ilona', 41, 36, 57),
 ('Sonja', 32, 37, 58),
 ('Maisa', 45, 40, 59)]

#### Tehtävä 6. Tallenna lopuksi tietokannan muutokset ja sulje yhteys

In [30]:
db_connection.commit()
db_connection.close()