## Pandas-tehtävät

#### Huom: Koko harjoituksen ajan on tarkoitus käsitellä alkuperäistä dataframea!

#### Tehtävä 1. Lisää tarvittavat kirjastot ja lue `testidata.csv` niminen tiedosto DataFrame-objektiin

In [25]:
import pandas as pd
import numpy as np
dataframe = pd.read_csv("testidata.csv", index_col = 0)

#### Tehtävä 2. Tulosta DataFrame-objektin viisi viimeistä riviä

In [26]:
dataframe.tail(5)

     sarake1   sarake2   sarake3
20  0.300589  0.455980  0.292225
21  0.859970  0.346539  0.364629
22  0.842364  0.093485  0.662066
23  0.781693  0.573344  0.815692
24  0.788949  0.945625  0.852690

#### Tehtävä 3. Tulosta datan sarakkeiden otsikot list-objektina

In [27]:
columns = list(dataframe)
columns

['sarake1', 'sarake2', 'sarake3']

#### Tehtävä 4. Tulosta `sarake2`:n pituus

In [28]:
column2 = dataframe["sarake2"]
len(column2)

25

#### Tehtävä 5. Tulosta datan ensimmäinen rivin tiedot

In [29]:
first_row = dataframe.iloc[0:1]
first_row

    sarake1   sarake2   sarake3
0  0.319219  0.380058  0.919389

#### Tehtävä 6. Pudota datasta  `Unnamed: 0` niminen sarake ja todenna lopputulos valitsemallasi tavalla

In [30]:
# dataframe = pd.read_csv("testidata.csv", index_col = 0)
# sarake poistettu lukemisen yhteydessä
dataframe.head()

    sarake1   sarake2   sarake3
0  0.319219  0.380058  0.919389
1  0.922251  0.490721  0.133932
2  0.073746  0.929162  0.962745
3  0.363707  0.878349  0.485700
4  0.106903  0.714651  0.039953

#### Tehtävä 7. Poista rivit, jos sarakkeessa `sarake1` esiintyy arvo 0.2 tai pienempi

In [31]:
dataframe = dataframe.loc[dataframe["sarake1"] > 0.2]
dataframe

     sarake1   sarake2   sarake3
0   0.319219  0.380058  0.919389
1   0.922251  0.490721  0.133932
3   0.363707  0.878349  0.485700
6   0.323134  0.036466  0.186775
7   0.467610  0.850993  0.377558
8   0.303299  0.096971  0.451031
9   0.733485  0.591996  0.658924
10  0.641628  0.251886  0.274987
12  0.319906  0.489200  0.990319
13  0.780267  0.458454  0.053428
15  0.935875  0.698276  0.446885
17  0.273193  0.300307  0.768270
18  0.467060  0.225161  0.911570
20  0.300589  0.455980  0.292225
21  0.859970  0.346539  0.364629
22  0.842364  0.093485  0.662066
23  0.781693  0.573344  0.815692
24  0.788949  0.945625  0.852690

#### Tehtävä 8. Tulosta `sarake1` sarakkeen minimi- ja maksimiarvo

In [32]:
column1 = dataframe["sarake1"]
print("Min: ", min(column1))
print("Max: ", max(column1))

Min:  0.2731929006731526
Max:  0.9358745961778226

#### Tehtävä 9. Tee ensimmäisen rivin ensimmäisen sarakkeen arvosta nan

In [33]:
dataframe.iloc[0, 0] = np.nan
dataframe.head(3)

    sarake1   sarake2   sarake3
0       NaN  0.380058  0.919389
1  0.922251  0.490721  0.133932
3  0.363707  0.878349  0.485700

#### Tehtävä 10. Tallenna lopputulos data_export.csv-nimiseen tiedostoon (tiedostoa hyödynnetään seuraavassa harjoituksessa).

In [34]:
dataframe.to_csv("data_export.csv")